#mainGrid{
    display: grid;
    grid-template-areas: 'navbar navbar navbar'    /* بكتب بهذه الطريقة عشان اقسم الصفحة لمساحات بناءا على كل جزء كيف حجمه بالصفحة*/
                         'menu main main'
                         'menu footer footer'; 
    
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*عشان اذا كان عندي زيادة بالحجم يكون ال pading من ضمن الزيادة */
}

#navbar{
    background-color: rgb(113, 179, 233);
    width: 100%;
    height: 180px;
    grid-area: navbar; /* هون بعطي لكل جزء اسم عشان استدعيه بال main grid  اللي حاوي كل الاجزاء*/

}


 



#main{
    background-color: rgb(23, 81, 129);
     width: 100%;
     height: 800px;
     grid-area: main;
}

#menu{
    background-color: rgb(10, 35, 55);
     width: 100%;
     height: 100% ;
     grid-area: menu;
}

#footer{
    background-color: rgb(177, 188, 197);
     width: 100%;
     height: 170px;
     grid-area: footer;
}

ul{
    list-style: none;
    display: flex;
    padding-left: 40%;
    gap: 15%;
    text-align: center;
    
    /* padding-top: px; */
}

a{
    color: rgb(227, 20, 20);
    font-size: larger;
    text-decoration: none;
    gap: 100px;
    

    
}

#navImg{
    border-radius: 70%;
    padding: 10;
}

.menulist{
   display: inline;
   text-align: center;
   list-style: none;
}

.menulist a{
    color: rgb(20, 220, 97);
    font-size: larger;
    /* text-align: center; */

   
}

ul li{
      margin-top: 150px; /*استخدمناها لنعمل مسافة بين سطور الليست*/
}

.gridItem p{
    display: inline;
    color: rgb(235, 235, 162);
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    margin-top: 70px;
    
}

label{
    padding-right:2px;
}
