body{
    background-color: rgb(250, 218, 175);
    padding: 0;
    margin: 0;
   
   
}

#navigatbar{
 background-color: rgb(15, 55, 107);
 display: flex;
 height: 150%;
justify-content: space-between;
 align-items:center;
}

ul{
    list-style: none;/* حتى تكون القائمة بدون ترقيم*/
    display: flex;/* ليسهل علي تحريك العناصر و التحكم فيها*/
    gap: 80px;/* المسافة بين العناصر*/
    margin-right: 40%;
    margin-left: 40%;
    
}

img{
    border-radius: 50px;
    /* margin-top: 20%; */
    /* padding-left: 10%; */
    margin-left: 10%;
    
}
a{
    text-decoration: none;
    font-size: 25px;
    color: blanchedalmond;
}
a:hover{
    color: rgb(247, 103, 103);
}

#footer{ 
   
    
   background-color: rgb(125, 144, 144);
   display: flex;
   height: 100%;
   justify-content:center;
   align-items:center;
   margin-top: 20%;
   padding: 20px 0;
   
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footul{
   padding-right: 20px;
    gap:30%;/* المسافة بين العناصر*/
    margin-left: 5% ;
}
button{
    display: flex;

}