#div1{
    background-color: burlywood;
    height: 600px;
    width: 100%;
}

#div2{
    background-color: rgb(215, 168, 107);
    height: 600px;
    width: 100%;
}

#div3{
    background-color: rgb(173, 124, 59);
    height: 600px;
    width: 100%;
}

#div4{
    background-color: rgb(102, 70, 28);
    height: 600px;
    width: 100%;
}