/*p{
    background-color: rgb(212, 212, 246);
}

h1{
    background-color: rgb(91, 87, 87);font-family: fantasy;
}
p1{
    background-color: rgb(243, 192, 192);
    font-size: larger;
}

p strong {
    color: red;
}
*/

.main .sale .pay p {
    color: red;
    font-size: larger;
}
.sale .pay p {
    color: blue;
    font-size: medium;
}
.pay p{
    color: yellow;
    font-size: smaller;
}
p1{
    color: rgb(255, 0,0);
    font-size: 20px;
}